{% extends "base.html" %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'movies/includes/header.css' %}">
    <link rel="stylesheet" href="{% static 'movies/movie.css' %}">
{% endblock  %}


{% block page_title  %}
Film
{% endblock  %}


{% block content %}
{% comment "" %} hlavicka - takto sa pridava comment do html django {% endcomment %}
    {% include "movies/includes/header.html" %}
    <h1>Super film pre tento tyzden</h1>
    <p>{{movie_name|title}}</p>
    {% if movie_description is not None %}
        <p>{{ movie_description}}</p>
    {% else %}
        <p>Popis filmu nie je k dispozicii</p>
    {% endif %}
{% endblock %}